body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #ece5dd;
}

.chat-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  max-width: 700px;
  margin: auto;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 10px;
  overflow: hidden;
}

.chat-header {
  background-color: #5e073d;
  color: #fff;
  padding: 15px;
  text-align: center;
}

.chat-box {
  flex: 1;
  padding: 15px;
  overflow-y: auto;
  background-color: #e5ddd5;
  display: flex;
  flex-direction: column;
}

.message {
  max-width: 70%;
  margin: 8px 0;
  padding: 10px;
  border-radius: 10px;
  word-wrap: break-word;
}

.sent {
  background-color: #dcf8c6;
  align-self: flex-end;
}

.chat-input {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #f0f0f0;
  border-top: 1px solid #ddd;
}

.chat-input input {
  flex: 1;
  padding: 10px;
  border-radius: 20px;
  border: 1px solid #ccc;
  outline: none;
}

.chat-input button {
  margin-left: 10px;
  padding: 10px 20px;
  border: none;
  background-color: #5e073d;
  color: rgb(240, 237, 239);
  border-radius: 20px;
  cursor: pointer;
}

.chat-input button:hover {
  background-color: #128C7E;
}
.emoji-picker {
  display: none;
  position: absolute;
  bottom: 70px;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  max-width: 220px;
  flex-wrap: wrap;
}

.emoji-picker span {
  cursor: pointer;
  font-size: 20px;
  margin: 5px;
}

.emoji-picker.show {
  display: flex;
  flex-wrap: wrap;
}